<div class="header">
  <nav>
    <span class="logo">
       <a href="/">
         <img src="images/win30logo.png" alt="win30">
       </a>
    </span>
    <span>
      <a href="/">
        首页
      </a>
    </span>
    <span>
      <a href="/">技术能力</a>
      <ul class="menu-list">
         <li>
           <a href="/">房顶漏水</a></li>
         <li>
           <a href="/">开裂空洞</a></li>
         <li>
           <a href="/">掉灰渗水</a></li>
         <li>
           <a href="/">墙面泛碱</a></li>
      </ul>
    </span>
    <span>
      <a href="/">解决方案</a>
      <ul class="menu-list">
         <li>
           <a href="/">危房加固</a></li>
         <li>
           <a href="/">楼顶加盖</a></li>
      </ul>
    </span>
    <span>
      <a href="/">关于我们</a>
       <ul class="menu-list">
         <li>
           <a href="/">公司历史</a></li>
         <li>
           <a href="/">联系我们</a></li>
         <li>
           <a href="/about/sublet.html">厂房转租</a>
         </li>
       </ul>
    </span>
  </nav>
</div>
