<!doctype html>
<html lang="zh">
<head>
  <%-
  include('../layouts/head/_head', {
  title: '关于 | 缓存',
  }); %>
</head>
<body>
<%- include('../layouts/header/_header'); %>

<span class="main">
   关于 | 缓存
</span>
</span>

<%- include('../layouts/footer/_footer'); %>
<%- include('../layouts/scriptTags/_page-script-tag.ejs'); %>
</body>
</html>
