<!doctype html>
<html lang="zh">
<head>
  <%-
  include('./../layouts/head/_head', {
  title: '水泥批发',
  }); %>
</head>
<body>
<%- include('./../layouts/header/_header'); %>

<div class="main">
 <h1>厂房转租</h1>
  <p>
    交通方便 ，水 电 网络设施齐全,大堡子往李家山方向，距离城北区大堡子8公里。<br>
    2000平方米标准厂房出租。3亩露天水泥库场可租可售。常州市武进庙桥南民营开发区(龙轩路东)<br>
    地处夏城路--龙轩路--青洋路--武进大道交汇处邻近武进汽车站交通非常便利。<br>
    现有全新标准厂房2000平方米出租,3亩标准水泥库场出租,也可出售-该标准露天水泥库场<br>
    可租可售-独立门院,注（该租厂房可以分割处理，按需租约）价格面议
  </p>
  <div id='map-container'></div>
</div>

<%- include('./../layouts/footer/_footer'); %>
<%- include('./../layouts/scriptTags/_page-script-tag.ejs'); %>
</body>
</html>
