<!doctype html>
<html lang="zh">
<head>
  <%-
  include('./layouts/head/_head', {
  title: '关于',
  }); %>
  <link rel="stylesheet" href="<# resolve('../stylesheets/date/index.scss') #>">
</head>
<body>
<%- include('./layouts/header/_header'); %>

<span class="nav">
  关于
</span>


<%- include('./layouts/footer/_footer'); %>
</body>
</html>
