<!doctype html>
<html lang="zh">
<head>
  <%- 
  include('./layouts/hes', {
    title: '哈哈',
  }); %>
</head>
<body>
<div class="logo">
  <img src="../images/win30logo.png" alt="win30">
</div>
<span class="main">
  这是一段红色、粗体，有边框的字。
</span>
<%- include('./layouts/hes', {user: user}); %>

</body>
</html>
