<!doctype html>
<html lang="zh">
<head>
  <%-
  include('./layouts/head/_head', {
    title: '主页',
  }); %>
</head>
<body>
<%- include('./layouts/header/_header'); %>

<span class="main">
  这是一段红色、粗体，有边框的字。
  <span class="date">2020/3/30</span>
</span>
</span>

<%- include('./layouts/footer/_footer'); %>
<%- include('./layouts/scriptTags/_page-script-tag.ejs'); %>
</body>
</html>
